<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.ienlab.sogangassist">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/real_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".activity.NotificationsActivity"></activity>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.EditActivity" />
        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/AppTheme.Setting" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.OnboardingActivity" />

        <service
            android:name=".service.LMSListenerService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.TimeReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.ReminderReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.MarkFinishReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.DeleteMissReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.BootDeviceReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.CalendarWidget"
            android:label="달력위젯">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="net.ienlab.blogplanner.VisitorWidget01.CLICK" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calendar_widget_info" />
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8050897224557020~5997367915" />
    </application>

</manifest>